h1{
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
    font-weight: 400;
}
.image-slice{
    border-left: 4px solid #FF5959;
}
.image-slice h1{
    padding-left: 13px;
}
.stay-focused{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 100px;
}
.stay-focused-on{
    padding-top: 100px;
}
.half-width img{
    width: 70%;
}
.half-width p{
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
}
.orange{
    color:orange;
}
.link-button{
    text-decoration: none;
    background-color: #FF5959;
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
}
.illustrator{
    display: flex;
    margin-left: 130px;
}
.my-mission h1{
    text-align: center;
    font-family:'Poppins', sans-serif ;
    font-weight: 700;
    font-size: 48px;
}
.mission{
    width: 25%;
    margin-left: 24px;
}
.mission img{
    width: 50%;
}
#mission{
    background-color: rgba(80, 161, 161, 0.224);
    border-radius: 20px;
    padding: 20px;

}
#vission{
    background-color: rgba(177, 98, 122, 0.224);
    border-radius: 20px;
    padding: 20px;

}
#goals{
    background-color: rgba(173, 139, 88, 0.224);
    border-radius: 20px;
    padding: 20px;

}